.title {
    text-align: center;
    font-size: 64px !important;
    padding-bottom: 50px;
}

p {
    text-align: justify
}

object {
    pointer-events:none;
}

/***************************************
SLIDE BY SLIDE 
***************************************/

#slide1 img {
    position: absolute;
    left: 50%;
    top: 200px;
    transform: translateX(-50%)
}

#slide1 p {
    position: absolute;
    top: 600px;
}

#slide2 p {
    margin-top: 120px;
}

#comunications .numbers tr th {
    position: relative;
    padding-top: 20px;
    text-align: center;
    font-size: 45px;
    text-decoration: underline;
}

#comunications .numbers tr td {
    font-size: 30px;
    text-align: center;
    padding: 10px;
    padding-top: 5px;
    text-decoration: none;
}

#comunications .exemple {
    margin-top: 30px;
    font-weight: bold
}

#comunications .normal {
    margin-top: 20px;
    text-align: left;
    display: inline-block;
    margin-left: 10px;
}

#comunications .normal tr:first-child {
    padding-left: 15px;
    border-bottom: 2px solid rgb(102, 102, 102)
}

#comunications .normal td:first-child {
    padding-right: 15px;
    border-right: 2px solid rgb(102, 102, 102)
}

#comunications .normal td {
    padding-left: 15px;
}

#comunications .normal th:first-child {
    padding-right: 15px;
    border-right: 2px solid rgb(102, 102, 102)
}

#comunications .normal th {
    padding-left: 15px;
}

#programs .overflow {
    display: inline-block;
    width: 60%;
    overflow-y: auto;
    height: 650px;
    font-size: 24px;
    line-height: 24px;
}